<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Certificat{% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css">

        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css " href="{{ asset('css/main.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/js/axentix.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar primary">
                <a href="{{ path('app_home') }}" class="logo navbar-brand">Certificats</a>
                <div class="navbar-menu ml-auto">
                    <a class="navbar-link" href="{{ path('app_home') }}">Accueil</a>
                    <a class="navbar-link" href="{{ path('certificat_create') }}">Demander un certificat</a>
                    <a class="navbar-link" href="#">Profile</a>
                    <a class="navbar-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer class="footer primary">
            Copyright © 2020 - Certificats
        </footer>
    </body>
</html>
