{% block body %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <div class="example-wrapper">
        <h1>
            {{ title }}
        </h1>

        {% for stage in stages %}
            <h3>Le directeur de l'entreprise certifie que:</h3>
        <ul>
            <li>Nom :{{ stage.nom }}</li>
            <li>Prenom :{{ stage.prenom }}</li>
            <li>Responsable de stage :{{ stage.responsable_de_stage }}</li>
            <li>Entreprise :{{ stage.entreprise }}</li>
            <li>Ville :{{ stage.ville }}</li>
        </ul>
        {% endfor %}
    </div>
{% endblock %}
