{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table>
        <tr>
            <td>id</td>
            <td>type</td>
            <td>nom</td>
            <td>prenom</td>
            <td>created_at</td>
            <td>generer le certificat</td>
        </tr>
        {% for demande in demandes %}
            <tr>
                <td id="{{ demande.id }}">{{ demande.id }}</td>
                <td>{{ demande.name }}</td>
                <td>{{ demande.nom }}</td>
                <td>{{ demande.prenom }}</td>
                <td>{{ demande.created_at|date("d-m-Y") }}</td>
                <td><a class="btn"
                       class="btn shadow-1 rounded-1 blue dark" data-id="{{ demande.id }}">creer</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
    {% block javascripts %}<script>
        var elements = document.getElementsByClassName('btn')
        for(var x = 0; x<elements.length;x++){
            var test = elements[x];
            test.addEventListener('click',function (){

                window.open("?id=" +this.getAttribute('data-id'))
            })
        }
    </script>{% endblock %}
{% endblock %}
