{% block body %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <div class="example-wrapper">
        <h1>
            {{ title }}
        </h1>
        <ul>
            {% for nom in noms %}
            <h1>Nom :{{ nom.nom }}</h1>
            <h1>Prenom :{{ nom.prenom }}</h1>
        </ul>
        {% endfor %}
        {% for note in notes %}
            <h3>{{ note.libelle }} : {{ note.note }}</h3>
        {% endfor %}
    </div>
{% endblock %}
